configparser

numpy
tensorflow
h5py
pillow

flask
jinja2

pyyaml
cma

apscheduler
pycryptodome
requests
requests_toolbelt
python_jwt
sseclient
timeout_decorator

terminaltables

google-api-python-client
google-cloud-storage
google-cloud-pubsub
google-gax <= 0.15.14

oauth2client==3.0.0
