pip

setuptools_scm
setuptools_scm_git_archive

configparser

numpy

flask

cma

apscheduler
pycryptodome
paramiko
sshpubkeys
PyNaCl
requests
requests_toolbelt
python_jwt
sseclient

terminaltables

PyYAML

google-api-python-client
google-cloud-storage <= 1.5.0
google-cloud-pubsub <= 0.28.3
google-gax <= 0.15.14
google-auth-httplib2
oauth2client==3.0.0

boto3
rsa

filelock
pygtail
pika >= 1.1.0

