<html>
  <head>
      <link rel="icon" href="{{ url_for('static', filename='tfs_small.png') }}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/><div class="container">  
     
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>

      {% block head %}
      {% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TF Studio</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/projects">Projects</a></li>
              <li><a href="/users">Users</a></li>
            </ul>
          </div>
        </div>
      </nav>

      {% macro experimenttable(experiments) -%}
        {% if experiments|length > 0 %}
            <table class="table table-striped" id=experimentTable>
                <thead> 
                        <tr>
                            <th>Time added </th>
                            <th>Key</th>
                            <th>Metric Type</th>
                            <th>Metric Value</th>
                            <th>Project</th>
                            <th>Filename</th>
                            <th>Status</th>
                        </tr>
                </thead>
                    
            {% for experiment in experiments %}
                <tr>
                    <td>{{ experiment.time_added | format_time }}</td>
                    <td><a href="/experiments/{{ experiment.key }}">{{ experiment.key }}</a></td>
                    <td>{{ experiment.metric }}</td>

                    {% if experiment.info.get('metric_value') %}
                        <td>{{ '%.4f' | format(experiment.info['metric_value']|float) }}</td>
                    {% else %}
                        <td> None </td>
                    {% endif %}
                        
                    <td>{{ experiment.project }}</td>
                    <td>{{ experiment.filename }}</td>
                    <td>{{ experiment.status }}</td>
                </tr>
            {% endfor %}
            </table>
            <script>
                $(document).ready(function() {
                      $('#experimentTable').DataTable();
                });
            </script>
          {% endif %}
      {%- endmacro %}

      {% block content %}
      {% endblock %}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
