<html>
  <head>
      <link rel="icon" href="{{ url_for('static', filename='tfs_small.png') }}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/><div class="container">  

      <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
      <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>    

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>

      {% block head %}
      {% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TF Studio</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/projects">Projects</a></li>
              <li><a href="/users">Users</a></li>
              <li><a href="/all">All</a></li>
              <li><a href="/dummy" id="sign-out">Sign out</a>
            </ul>
          </div>
        </div>
      </nav>


    <div id="logged-in">     	 

    {% macro experimenttable(showproject=true) -%}
        <table class="table table-striped" id="experimentTable"> </table>
        <script>
            $(function() {
                $('#experimentTable').DataTable({
                    "order":[[0, "desc"]],
                    "paging":false,
                    "stateSave": true,
                    "columns": [
                        {
                            "title":"Time added",
                            "render":function(data, type, row) {
                                return new Date(data * 1000)
                            }   
                        },
                        {
                            "title":"Key",
                            "render":function(data, type, row) {
                                return '<a href="experiment/' + data + '">' + data + '</a>' 
                            }  
                        },
                        {"title":"Metric"},
                        {
                            "title":"Metric Value",
                            "render":function(data, type, row) {
                                if (typeof data == 'number') {
                                    return data.toFixed(4);
                                } else {
                                    return 'None';
                                }
                            }
                        },
                        {
                            "title":"Project",
                            "render":function(data, type, row) {
                                return '<a href="project/' + data + '">' + data + '</a>' 
                            }  
                        },
                        {"title":"Status"}
                    ]
                });
        });

        function fillExperimentTable(data) {
            table = $('#experimentTable').DataTable()
            table.clear()
            response_data = JSON.parse(data)
            if (response_data.status == 'ok') {
                
                for (var i in response_data.experiments) {
                    experiment = response_data.experiments[i]
                    new_row = [
                        experiment.time_added,
                        experiment.key,
                        experiment.metric,
                        experiment.info.metric_value,
                        experiment.project,
                        experiment.status,
                    ]
                    table.row.add(new_row)
                }
                table.draw()
            }
        }

        </script>
    {%- endmacro %}
    
     
    {% macro authwidget(after_auth_callback, send_refresh_token=send_refresh_token) -%}
        <div id="logged-out" hidden>
            <h1>Studio.ML</h1>
    	    <h3>Sign in to access your experiments</h3>
    	    <div id="firebaseui-auth-container"></div>
  	    </div>

        <script>
            $(function() {
                var config = {
                    apiKey: "{{ api_key }}",
                    authDomain: "{{ project_id }}.firebaseapp.com",
                    databaseURL: "https://{{ project_id }}.firebaseio.com",
                    storageBucket: "{{ project_id }}.appspot.com",
                };

                var userIdToken = null;
                var userRefreshToken = null;

                // Firebase log-in
                function configureFirebaseLogin() {

                    firebase.initializeApp(config);

                    // [START onAuthStateChanged]
                    firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        $('#logged-out').hide();
                        user.getToken().then(function(idToken) {
                            userIdToken = idToken;

                            {% if send_refresh_token %}
                                userRefreshToken = user.refreshToken;
                            {% endif %}

                            {% autoescape false %}
                            if ('{{ after_auth_callback }}' != '') {
                                {{ after_auth_callback }}
                            }
                            {% endautoescape %}
                            
                            $('#logged-in').show();

                        });

                        } else {
                            $('#logged-in').hide();
                            $('#logged-out').show();
                        }
                    // [END onAuthStateChanged]
                    });
                }
                configureFirebaseLogin();
                configureFirebaseLoginWidget();
            });

            function configureFirebaseLoginWidget() {
                var uiConfig = {
                    'signInSuccessUrl': '/',
                    'signInOptions': [
                        // Leave the lines as is for the providers you want to offer your users.
                        firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                        // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
                        // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
                        // firebase.auth.GithubAuthProvider.PROVIDER_ID,
                        // firebase.auth.EmailAuthProvider.PROVIDER_ID
                     ],
                     // Terms of service url
                     //`'tosUrl': '<your-tos-url>',
                 };

                 var ui = new firebaseui.auth.AuthUI(firebase.auth());
                 ui.start('#firebaseui-auth-container', uiConfig);
            }

            // Sign out a user
            $('#sign-out').click(function(event) {
                event.preventDefault();

                firebase.auth().signOut().then(function() {
                    console.log("Sign out successful");
                }, function(error) {
                    console.log(error);
                });
            });

            </script>
    {%- endmacro -%}

        
    <script>
        function get_data_ajax(userIdToken, userRefreshToken, apiMethod, data={}) {
            if ( userRefreshToken != null ) {
                data["refreshToken"] = userRefreshToken
            }

            return $.ajax(
                '/api/' + apiMethod,
                {
                    headers: {
                        "Authorization": "Bearer " + userIdToken
                    },
                    method: 'POST',
                    data: JSON.stringify(data),
                    contentType:"application/json"
                }
            )
        }

/*        
        function loadExperiments() {
            var maxTimeout = 120
            var xhttp = new XMLHttpRequest();
            if ( typeof loadExperiments.oldResponse == 'undefined') {
                loadExperiments.oldResponse = ""
                loadExperiments.timeout = 1
                loadExperiments.docHeader = document.getElementsByTagName('h1').item(0)
                loadExperiments.docHeaderValue = loadExperiments.docHeader.innerHTML
            }

            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // console.log( "Server sent the document:\n" + this.response )
                    // console.log( "oldResponse = " + loadExperiments.oldResponse)

                    if (this.response == loadExperiments.oldResponse) {
                        loadExperiments.docHeader.innerHTML = loadExperiments.docHeaderValue
                        loadExperiments.timeout *= 2
                        console.log("The document has not changed, timeout increased to " + loadExperiments.timeout)
                    } else {
                        loadExperiments.docHeader.innerHTML = loadExperiments.docHeaderValue + " <i class='fa fa-cog fa-spin'></i>"
                                
                        var html = document.createElement('html')
                        html.innerHTML = this.response
                        rows = html.getElementsByTagName("tr")
                        console.log("Document has changed, updating the table ")
                        updateTable(rows)
                        loadExperiments.oldResponse = this.response 
                        loadExperiments.timeout = 1
                    }
                    loadExperiments.timeout = Math.min(loadExperiments.timeout, maxTimeout)
                    setTimeout(loadExperiments, loadExperiments.timeout * 1000)
               }
            }

            console.log("Requesting new dashboard data");
            xhttp.open("GET", window.location, true);
            xhttp.send();
        }

        function updateTable(rows) {
            $('#experimentTable').DataTable().clear()
            for (var i = 1; i < rows.length; i++) {
                $('#experimentTable').DataTable().row.add(rows.item(i))
             }
             $('#experimentTable').DataTable().draw()
        }
*/

    </script>
  
   {% block content %}
   {% endblock %}
   <p></p>

    </div>
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
