{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Your experiments</h1>
        {% if experiments|length > 0 %}
            <button onclick='deleteAllExperiments()' type="button" class="btn btn-danger"> Delete ALL </button>
        {% endif %}

        <table class="table table-striped">
            {% for experiment in experiments %}
                <tr>
                    <td>{{ experiment.time_added | format_time }}</td>
                    <td><a href="/experiments/{{ experiment.key }}">{{ experiment.key }}</a></td>
                    <td>{{ experiment.filename }}</td>
                    <td>{{ experiment.status }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        function deleteAllExperiments() {
            if (confirm("This will delete ALL of your experiments and CANNOT be undone. Proceed?")) {
                    window.location.href = /delete_all/
            }
        }
    </script>
{% endblock %}
