{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if email  %}
            <h1>User {{ email }} </h1>
        {% else %}
            <h1>User {{ user }} <h1>
        {% endif %}

        <table class="table table-striped">
            {% for experiment in experiments %}
                <tr>
                    <td><a href="/experiments/{{ experiment.key }}">{{ experiment.key }}</a></td>
                    <td>{{ experiment.filename }}</td>
                    <td>{{ experiment.status  }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
